main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.redLine {
    background-color: red;
    width: 5rem;
    height: 2px;

    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    line-height: 1.3rem;
}

/*BOKS 3 - HVEM ER RADA?*/
#hvemEr {
    text-align: center;
    line-height: 1.3rem;
}

/*BOKS 4 - VÅRE FOLK*/

.overskriftAnsatte {
    display: flex;
    align-items: center;
}

.ansatteWrapper {
    gap: 4rem;
}

.ansatte {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.ansikt {
    width: 25rem;
    height: 25rem;
}


/*BOKS 5 - JOIN THE TEAM*/
.joineTeamWrapper {
    text-align: center;
}


/*BOKS 6 - LEDERSTJERNER/UTVIKLERE/NYUTDANNEDE*/
.jobbHosOssWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;

}

.lederstjerner {
    width: 150%;
}


/*BOKS 7 - NÅVÆRENDE OG TIDLIGERE KUNDER*/
.kunder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}