.boks1 {
    background-color: black;
    opacity: 1;
    padding: 1.5rem;
    display: flex;
    color: white;
}

.logo {
    width: 7rem;
    height: 3rem;
}

.meny {
    border-style: none;
    font: 1rem Arial, sans-serif;
    color: white;
    display: inline-block;



    background-image: linear-gradient(white, white), linear-gradient(black, black);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.meny:hover {
    background-size: 100% 2px, auto;
}


.boks2 {
    background-color: black;
    color: white;
    opacity: 1;
    padding: 1.5rem;
}

.bilde1 {
    width: 50rem;
    height: 20rem;
}